article{
	background-color: #ffffff;
	margin-top: 25px;
	height: 250px;
	padding: 25px;
}
#d1, #d2, #d3, #d4, #d5, #d5, #d6, #d7, #d8, #d9, #d10, #d11, #d12, #d13{
	float: left;
}

h4{
	text-align:center;
	clear: right;
	margin-left: 50px;
	color: #ff0000;
	font-family:"Time New Roman", serif;
	font-size: 30px;
	margin-top: 0px;
}
pre{
	font-family: Arial, sans-serif;
	font-size: 24px;
}