#myCanvas{
	border: 2px solid #000000; 
	margin: auto;
	display: block;
}

#nameInput {
	position: absolute;
	left: 250px;
	top: 550px;
	width: 500px;
}

#nameSubmit {
	position: absolute;
	left: 450px;
	top: 600px;
	width: 100px;
	height: 40px;
	background-color: Gold;
	color: rgb(75, 0, 0);
	font-family: Helvetica;
	font-size: 20px;
}