#myCanvas{
	border: 2px solid #000000; 
	margin: auto;
	display: block;
}

#nameInput {
	position: absolute;
	left: 250px;
	top: 550px;
	width: 500px;
}

#nameSubmit {
	position: absolute;
	left: 450px;
	top: 600px;
	width: 100px;
	height: 40px;
	background-color: Gold;
	color: rgb(75, 0, 0);
	font-family: Helvetica;
	font-size: 20px;
}

#heads {
	position: absolute;
	left: 375px;
	top: 500px;
	width: 100px;
	height: 40px;
	background-color: Gold;
	color: rgb(75, 0, 0);
	font-family: Helvetica;
	font-size: 20px;
	visibility: hidden;
}

#tails {
	position: absolute;
	left: 525px;
	top: 500px;
	width: 100px;
	height: 40px;
	background-color: Gold;
	color: rgb(75, 0, 0);
	font-family: Helvetica;
	font-size: 20px;
	visibility: hidden;
}

#tossResult {
	position: absolute;
	width: 900px;
	left: 2px;
	top: 302px;
	background-color: Gold;
	height: 200px;
	color: rgb(75, 0, 0);
	font-family: Helvetica;
	font-size: 40px;
	background-image: url("../images/coinHead.png");
	background-size: 250px 250px;
    background-repeat: no-repeat;
	background-position: right;
	padding: 50px;
	visibility: hidden;
}

#betWindow {
	position: absolute;
	width: 500px;
	left: 202px;
	top: 2px;
	height: 200px;
	color: rgb(75, 0, 0);
	font-family: Helvetica;
	font-size: 40px;
	background-color: Gold;
	padding: 50px;
	text-align: center;
}